body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(212, 216, 230);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.pokedex1 {
    background-color: rgb(255, 216, 111);
    color: white;
    display: flex;
    padding: 24px;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pokedex:last-of-type {
    background-color: rgb(255, 216, 111);
}

.info-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -40px;
    min-height: 100px;
    background-color: white;
    height: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    display: grid;
    align-items: center;
}

.ImgCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1px;
}

.ImgCenter img {
    margin-top: -192px;
    width: 185px;
    ;
    height: 166px;
}

.PokemonCard {
    height: 515px;
    width: 320px;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PokemonCollections {
    margin-bottom: -32px;
    height: 540px;
    width: 320px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 19px;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    width: 100%;
}

.table-row {
    display: block;
    font-size: 14px;
    color: rgb(116, 119, 121);
    padding: 5px 0px;
    margin-bottom: 10px;
}

h1 {
    padding-right: 131px;
    margin-bottom: 0;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    color: white;
}

.CollectionImg {
    width: 45px;
    height: 45px;
    float: right;
}

.collectible {
    background-color: blue;
    margin: 2px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
}

.color-0 {
    background-color: rgb(73, 208, 176);
}

.color-1 {
    background-color: rgb(73, 208, 176);
}

.color-2 {
    background-color: rgb(73, 208, 176);
}

.color-3 {
    background-color: rgb(251, 108, 108);
}

.color-4 {
    background-color: rgb(251, 108, 108);
}

.color-5 {
    background-color: rgb(251, 108, 108);
}

.color-6 {
    background-color: rgb(118, 189, 254);
}

.color-7 {
    background-color: rgb(118, 189, 254);
}

.color-8 {
    background-color: rgb(118, 189, 254);
}

.color-9 {
    background-color: rgb(255, 216, 111);
}

.bold {
    font-weight: bold;
}

.stats-container {
    display: flex;
}

.flexcontainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

input {
    height: 0;
    width: 0;
    border: none;
}

.skill-bar {
    position: relative;
    width: 102px;
    height: 16px;
    margin: 0px auto;
    border-radius: 7.5px;
    background-color: rgb(185, 181, 181);
}

.inside-bar {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    height: 10px;
    width: calc(var(--width, 0) * 1%);
    min-width: 10px;
    max-width: calc(100% - 6px);
    border-radius: 5px;
}

.green {
    background-color: green;
}


/* .skill-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-color: green;
    height: 10px;
    width: calc(var(--width, 0) * 1%);
    min-width: 10px;
    max-width: calc(100% - 6px);
    border-radius: 5px;
} */

@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
    .PokemonCollections {
        margin-bottom: 20px;
    }
}