body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(212, 216, 230);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.pokedex1 {
    background-color: rgb(251, 108, 109);
    color: white;
    display: flex;
    padding: 24px;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pokedex2 {
    background-color: rgb(255, 216, 111);
    color: white;
    display: flex;
    padding: 24px;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pokedex:last-of-type {
    background-color: rgb(255, 216, 111);
}

.info-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -40px;
    min-height: 100px;
    background-color: white;
    height: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
}

.ImgCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1px;
}

.ImgCenter img {
    margin-top: -107px;
    width: 110px;
    height: 90px;
}

.PokemonCard {
    height: 515px;
    width: 320px;
}

.PokemonCollections {
    margin-bottom: -32px;
    height: 540px;
    width: 320px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 19px;
}

.table-row {
    display: block;
    font-size: 14px;
    color: rgb(116, 119, 121);
    padding: 5px 0px;
}

h1 {
    padding-right: 131px;
    margin-bottom: 0;
}

h3 {
    font-size: 12px;
    font-weight: bold;
}

.CollectionImg {
    width: 45px;
    height: 45px;
    float: right;
}

.collectible {
    background-color: blue;
    margin: 2px;
    width: 130px;
    border-radius: 10px;
}